.App {
  text-align: center;
  max-height: 100vh;
}

.Background {
  background-size: cover;
  animation: 10s fadeIn;
  height: 100vh;
  z-index: 25;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}